<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= flash[:notice] %></p>
<% content_for :javascript_includes do %>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Zm4SmPBT4SRR4t9eaiOPe6EpPGOBfAo&callback=initMap"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <%= javascript_include_tag "order.js" %>
<% end %>
<div class="container">
  <div class=" container sign_reg_card">
    <h1> Happy Travels! </h1>



 <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">From: <%= @trip.from %></li>
        <li class="list-group-item">To: <%= @trip.to %></li>
        <li class="list-group-item">On: <%= @trip.date %></li>
      </ul>
    </div>



  </div>

  <div id="gmaps-canvas"></div>

</div>
