<% content_for :javascript_includes do %>
    <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Zm4SmPBT4SRR4t9eaiOPe6EpPGOBfAo&callback=initMap"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <%= javascript_include_tag "order.js" %>
<% end %>


<div class="container">
    <%= simple_form_for(@order) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :name, input_html:{value: "#{@order.name}"}  %>
      </div>
      <div class="form-inputs">
         <%= f.input :price, input_html:{value: "#{@order.price}"}   %>
       </div>

       <div class="form-inputs">
          <%= f.input :pickup_location, placeholder: "Enter the pickup country"  %>
        </div>
        <div class="form-inputs">
           <%= f.input :drop_off_location, placeholder: "Enter where  would you like to collect the item"  %>
         </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>

     <div id="gmaps-canvas"></div>

<!--
      <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Zm4SmPBT4SRR4t9eaiOPe6EpPGOBfAo&callback=initMap"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> -->


    <% end %>

</div>
