<div class="album text-muted">
    <div class="container">
        <div class="row">
            <% @orders.each do |order| %>
                <div class="card">
                    <a href="<%= order_path(order)%>"><img src="<%= order.image %> " class="img-fluid" style="max-height: 400px; max-width: 100%" alt=""></a>
                    <strong class="card-text"><%= order.name %></strong>
                    <p class="card-text">  Item Website  <%= order.website  %> </p>
                    <p class="card-text">  Pickup Location <%= order.pickup_location %> </p>
                    <p class="card-text"> Drop Off Location <%= order.drop_off_location %> </p>
                    <%= order_status(order.confirmed) %>

                </div>

            <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
    </div>
</div>
