<!DOCTYPE html>
<html>
  <head>
    <title>Jetsent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= raw analytical.head_prepend_javascript %>

    <title>Jetsent</title>
        <%= csrf_meta_tag %>
        <% analytical.identify(current_user.id, :email=>current_user.email) if current_user %>
        <%= raw analytical.head_append_javascript %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <link rel="icon" href="/images/icon.png"> -->
    <%= yield :stylesheet_includes %>


  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <body>
  <div class="" id="div-nav">
        <%= render partial: 'shared/navigation_bar' %>
  </div>
  <div>

      <%= raw analytical.body_prepend_javascript %>
      <%= yield %>
      <%= raw analytical.body_append_javascript %>

  </div>

  <%= render partial: 'shared/footer' %>
   <%= javascript_include_tag "application"%>
   <%= yield :javascript_includes %>
    <%= javascript_include_tag "notification.js" %>



  <!-- <%= yield :javascript_includes %> -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <!-- <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script> -->

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#config-web-app -->

  <!-- <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyA3IFooet2aO0Y1UetEDS3Ux5hPT_89CBo",
      authDomain: "jetsent-bedd3.firebaseapp.com",
      databaseURL: "https://jetsent-bedd3.firebaseio.com",
      projectId: "jetsent-bedd3",
      storageBucket: "jetsent-bedd3.appspot.com",
      messagingSenderId: "443292644550",
      appId: "1:443292644550:web:59f2dc89aa11a020"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
 -->

    </body>
</html>
